.left-mid
  =  friend.name
  //current_userのグループの中でonetooneを持っているフレンドがいればトークを表示、そうでなければトーク作成を表示する
  //-friendgroups = Group.includes(:users).where(user: { [id: current_user.id,friend.id]})
  //#-binding.pry
  //-if
  = link_to "/users/#{current_user.id}/edit" ,class: "left-mid__groupname" do
    トーク
    //-else
  = link_to group_newfriend_path(friend_id: friend.id),class: "left-mid__groupname" do
    トーク作成
    //-end
