.left-mid
  %a{ href: group_messages_path(group.id), class: "left-mid__groupname" }
    =  group.name
    -if group.messages.any?
      -if group.messages.last.text?
        %p.left-mid__messeagesign
          = group.messages.last.text
      -else
        %p.left-mid__messeagesign
          画像が投稿されています
    -else
      %p.left-mid__messeagesign
        まだメッセージはありません
