#searchform3 {
    position: relative;
}
#keywords3  {
    width: 170px;
    height: 16px;
    background: url(../images/input3.gif) no-repeat;
    border: none;
    padding: 3px 5px;
    color: #444;
}
#searchBtn3 {
    position: absolute;
    top: -1px;
    left: 178px;
}
.image{
    float: left;
    display: inline-block;
    background-color: #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 5px;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    background-size: cover;
}
